<!--
 * @Author: jia
 * @LastEditTime: 2021-11-12 17:09:04
 * @FilePath: /thinkecho/content/themes/default/comments.tmpl
 * @Date: 2021-07-05 15:44:33
 * @Software: VS Code
-->
{{define "comments"}}
<div id="comments">
    <h3>{{.archive.CommentsNum}}</h3>

    {{.listComments}}

    {{if .archive.AllowComment}}
        <div id="respond-page-2" class="respond">
            <div class="cancel-comment-reply">
                <a id="cancel-comment-reply-link" href="http://127.0.0.1:4000/p/gbook#respond-page-2" rel="nofollow" style="display:none" onclick="return cancelReply();">取消回复</a>
            </div>
            <h3 id="response">添加新评论</h3>

            <form method="post" action="{{.archive.CommentUrl}}" id="comment-form" role="form">
                <p>
                    <label for="author" class="required">称呼</label>
                    <input type="text" name="author" id="author" class="text" value="{{.commentAuthor}}" required />
                </p>
                <p>
                    <label for="mail" class="required" >Email</label>
                    <input type="email" name="mail" id="mail" class="text" value="{{.commentMail}}" required />
                </p>
                <p>
                    <label for="url" class="required">网站</label>
                    <input type="url" name="url" id="url" class="text" placeholder="http://" value="{{.commentURL}}" required />
                </p>
                <p>
                    <label for="textarea" class="required">内容</label>
                    <textarea rows="8" cols="50" name="text" id="textarea" class="textarea" required >{{.commentText}}</textarea>
                </p>
                <p>
                    <button type="submit" class="submit">提交评论</button>
                </p>
                <input type="hidden" name="_csrf" value="{{._csrf}}" />
            </form>
        </div>
    {{else}}
        <h3>评论已关闭</h3>
    {{end}}
</div>
{{end}}