
{{define "header"}}
<!DOCTYPE HTML>
<html class="no-js" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{description}}">
    <title>{{archiveTitle "-"}}{{title}}</title>

    <!-- 使用url函数转换相关路径 -->
    <link rel="stylesheet" href="{{themeUrl "normalize.css"}}">
    <link rel="stylesheet" href="{{themeUrl "grid.css"}}">
    <link rel="stylesheet" href="{{themeUrl "style.css"}}">

    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->

    <!-- 通过自有函数输出HTML头部信息 -->
    {{header}}
</head>
<body>
<!--[if lt IE 8]>
    <div class="browsehappy" role="dialog">当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/">升级你的浏览器</a>.</div>
<![endif]-->

<header id="header" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="site-name col-mb-12 col-12">
                <a id="logo" href="{{siteUrl}}">{{title}}</a>
        	    <p class="description">{{description}}</p>
            </div>
            <div class="col-mb-12">
                <nav id="nav-menu" class="clearfix" role="navigation">
                    <a href="{{siteUrl}}">首页</a>
                    {{range pageList}}
                        <a href="{{.Permalink}}">{{.Title}}</a>
                    {{end}}
                </nav>
            </div>
        </div><!-- end .row -->
    </div>
</header><!-- end #header -->
<div id="body">
    <div class="container">
        <div class="row">
{{end}}