<!--
 * @Author: jia
 * @LastEditTime: 2021-11-12 21:29:46
 * @FilePath: /thinkecho/content/themes/default/index.tmpl
 * @Date: 2021-07-05 15:44:33
 * @Software: VS Code
-->
{{template "header" .}}

<div class="col-mb-12 col-12" id="main" role="main">
	{{range .archives}}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
			<h2 class="post-title" itemprop="name headline"><a itemprop="url" href="{{.Permalink}}">{{.Title}}</a></h2>
			<ul class="post-meta">
				<li itemprop="author" itemscope itemtype="http://schema.org/Person">作者: <a itemprop="name" href="{{.Author.Permalink}}" rel="author">{{.Author.Name}}</a></li>
				<li>时间: <time datetime="{{.Date}}" itemprop="datePublished">{{.Date}}</time></li>
				<li>分类: {{.Category}}</li>
				<li itemprop="interactionCount"><a itemprop="discussionUrl" href="{{.Permalink}}#comments">{{.CommentsNum}}</a></li>
			</ul>
            <div class="post-content" itemprop="articleBody">
				{{.Content "- 阅读剩余部分 -"}}
            </div>
        </article>
	{{end}}

	<div class="page-navigator">
		{{.pageNav}}
	</div>
	
</div><!-- end #main-->

{{template "footer" .}}
