{{template "header" .}}

<div class="col-mb-12 col-12" id="main" role="main">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        {{.archive.GetFieldFloat "archive"}}
        <h1 class="post-title" itemprop="name headline"><a itemprop="url" href="{{.archive.Permalink}}">{{.archive.Title}}</a></h1>
        <div class="post-content" itemprop="articleBody">
            {{.archive.Content}}
        </div>
    </article>
    
    {{template "comments" .}}

</div><!-- end #main-->

{{template "footer" .}}
