<!--
 * @Author: jia
 * @LastEditTime: 2021-11-16 00:10:39
 * @FilePath: /thinkecho/content/themes/default/post.tmpl
 * @Date: 2021-07-05 15:44:33
 * @Software: VS Code
-->

{{template "header" .}}

<div class="col-mb-12 col-12" id="main" role="main">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <h1 class="post-title" itemprop="name headline"><a itemprop="url" href="{{ .archive.Permalink }}">{{.archive.Title}}</a></h1>
        <ul class="post-meta">
            <li itemprop="author" itemscope itemtype="http://schema.org/Person">作者: <a itemprop="name" href="{{.archive.Author.Permalink}}" rel="author">{{.archive.Author.Name}}</a></li>
            <li>时间: <time datetime="{{.archive.Date}}" itemprop="datePublished">{{.archive.Date}}</time></li>
            <li>分类: {{.archive.Category}}</li>
        </ul>
        <div class="post-content" itemprop="articleBody">
            {{.archive.Content}}
        </div>
        <p itemprop="keywords" class="tags">标签: {{.archive.Tags}}</p>
    </article>

    {{template "comments" .}}

    <h3>相关文章</h3>
    <ul>
        {{range related 5}}
            <li><a href="{{.Permalink}}">{{.Title}}</a></li>
        {{end}}
    </ul>

    <ul class="post-near">
        <li>上一篇: {{prev}}</li>
        <li>下一篇: {{next}}</li>
    </ul>
</div><!-- end #main-->

{{template "footer" .}}
